#footer{
    height: 120px;
    background-color: #414141;
    overflow: hidden;
    clear: both;
}

.footer-logo{
    margin: 35px 0;
    float: left;
}

.footer-nav{
    list-style-type: none;
    overflow: hidden;
    position: relative;
    top: 54px;
    left: 47px
}

.footer-nav li{
    float: left;
    background: url(../../img/ico_right-arrow.png) no-repeat left 6px;
    padding-left: 10px;
}

.footer-nav li a{
    color: #f5f1e8;
    text-decoration: none;
    font-size: 14px;
    margin-right: 20px;
}

.copyright{
    font-size: 14px;
    color: #f5f1e8;
    float: right;
    margin-top: 70px;
}