#header-top{
    height: 85px;
    background-color: #f5f1e8;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.29);
    overflow: hidden;
    position: relative;
}

.header-logo{
    float: left;
    margin: 20px 0;
}

.header-sns{
    list-style-type: none;
    overflow: hidden;
    float: left;
}

.header-sns li{
    float: left;
    margin: 27px 15px 25px 0;
}

.header-sns li:last-child{
    margin-right: 24px;
}

.access-contact{
    width: 220px;
    float: left;
    margin: 20px 0;
}

.header-right{
   float: right;
}

#global-nav{
    height: 60px;
    background-color: #ff6a5c;
    clear: both;
}

.g-nav{
    list-style-type: none;
    overflow: hidden;
}

.g-nav li{
    float: left;
}

.g-nav li a{
    display: block;
    width: 188px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #f5f1e8;
    text-decoration: none;
    box-sizing: border-box;
    background: url(../../img/border_header.png) no-repeat right center;
}

.g-nav .nav-last{
    background: none;
}
